/* Specific styling for the dashboard */
#contentwrapper{clear:both;float:none;margin:0 auto;width:600px;min-width:600px;}
#content{margin-bottom:10px;}
#content h1{*height:20px;}
.line {margin:0 0 10px 0;padding:0;height:0;border-bottom: 1px #999 solid;}
.spacer{margin-top:30px;}